<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">

<head>
  <title>WMBC Portal</title>
  <link rel="stylesheet" type="text/css" href="static/css/style.css" />
  <script type="text/javascript" src="static/js/jquery.min.js"></script>
  <script type="text/javascript" src="static/js/image_slide.js"></script>
</head>

<body>
  <div id="main">
    <div id="header">
	  <div id="banner">
	    <div id="welcome">
	      <h1>Welcome To WMBC</h1>
	    </div><!--close welcome-->
	    <div id="menubar">
          <ul id="menu">
            <li class="current"><a href="/">FrontPage</a></li>
            <li><a href="/backend">Home</a></li>
            <li><a href="/backend/dj">DJ Control</a></li>
            <li><a href="/backend/vote">Listen</a></li>
            <li><a href="/backend/upload">Music Approval</a></li>
          </ul>
        </div><!--close menubar-->	  
	  </div><!--close banner-->	
    </div><!--close header-->	
    
	<div id="site_content">		

      <div class="slideshow">  
		<ul class="slideshow">
          <li class="show"><img width="900" height="350" src="static/images/home_1.jpg" alt="&quot;Enter your caption here&quot;" /></li>
          <li><img width="900" height="350" src="static/images/home_2.jpg" alt="&quot;Enter your caption here&quot;" /></li>
        </ul> 
      </div><!--close slideshow-->		
	 
	  <div id="content">
        <div class="content_item">
		  <h1>Welcome To Your WMBC</h1> 
          <p>Welcome to the WMBC Staff page.  This is your prtal to control everything you hear on the air. To use this page you must first log in. If you have any issues or questions, please contact Mark Murnane at mark25@umbc.edu.</p>   				  
		</div><!--close content_item-->
      </div><!--close content-->   
	  
	  <div class="container">
	    <div class="ourwork">
	      <h3>DJ Control</h3>
		  <p>The DJ Control center provides a simple way for DJ's to control the server's playback. Search our music library, record your show, and control what is going over the air, all in one place.</p>
		  <div class="more">
		    <a href="#">Enter</a>
		  </div><!--close more-->      
	    </div><!--close ourwork-->
	    <div class="testimonials">
	      <h3>Listen</h3>
		  <p>Listen to our live feed, and vote on what you want to hear.</p>	  
		  <div class="more">
		    <a href="#">Enter</a>
		  </div><!--close more-->        
	    </div><!--close testimonials-->	  
	    <div class="projects">
	      <h3>Music Approval</h3>
		  <p>All of our music must be approved for copyright reasons. Those on the apporval commitee may use this interface to upload new songs, as well as approve those that have been uploaded. They will automatically appear in the DJ control center, and will be played automatically by the server.</p>	  
		  <div class="more">
		    <a href="#">Enter</a>
		  </div><!--close more-->        
	    </div><!--close projects-->
	  </div><!--close container-->
	
	</div><!--close site_content--> 
    
	<div id="content_cream">
	  <div class="content_cream_container_box">
		<h4>Latest Blog Post</h4>
	    <p> Phasellus laoreet feugiat risus. Ut tincidunt, ante vel fermentum iaculis.</p>
		<div class="readmore">
		  <a href="#">Read more</a>
		</div><!--close readmore-->
	  </div><!--close content_cream_container_box-->
      <div class="content_cream_container_box">
       <h4>Latest News</h4>
	    <p> Phasellus laoreet feugiat risus. Ut tincidunt, ante vel fermentum iaculis.</p>
	    <div class="readmore">
		  <a href="#">Read more</a>
		</div><!--close readmore-->
	  </div><!--close content_cream_container_box-->
      <div class="content_cream_container_boxl">
		<h4>Contact Us</h4>
	    <p> Phasellus laoreet feugiat risus. Ut tincidunt, ante vel fermentum iaculis.</p>
	    <div class="readmore">
		  <a href="#">Read more</a>
		</div><!--close readmore-->	  
	  </div><!--close content_cream_container_box1-->      
	  <br style="clear:both"/>
    </div><!--close content_cream-->   
 
  </div><!--close main-->
  
  <div id="footer_container">
    <div id="footer">
	  <a href="http://validator.w3.org/check?uri=referer">Valid XHTML</a> | <a href="http://fotogrph.com/">Images</a> | Heart Internet <a href="http://www.heartinternet.co.uk/web-hosting/">web hosting</a> | website template by <a href="http://www.araynordesign.co.uk">ARaynorDesign</a>
    </div><!--close footer-->  
  </div><!--close footer_container-->  
  
</body>
</html>
